.image-bg-1{
    background-image: url('../images/image-bg-1.png');
    background-color: #fff;
    background-size:cover;
    background-position: center center;
}

.image-bg-2{
    background-image: url('../images/image-bg-2.png');
    background-color: #fff;
    background-size:cover;
    background-position: center center;
}